# DICTIONARY
# ASSIGNMENT
# LOOPS
# CONDITIONAL STATEMENTS
# FUNCTIONS

# Dictionary

In [1]:
dict_1 = {'name':'Joyce', 'score': 23, 'fruit': "apple"}
print(dict_1)

{'name': 'Joyce', 'score': 23, 'fruit': 'apple'}

In [4]:
data = {'score' : [1,2,4,5], 'name' : ['Joyce', 'you', 'I', 'them']}
data

{'score': [1, 2, 4, 5], 'name': ['Joyce', 'you', 'I', 'them']}

In [2]:
name = ['caleb', 'you', 'I', 'them']
score = [1,2,3,4]
data = {'name' : name, 'score' : score}
data

{'name': ['caleb', 'you', 'I', 'them'], 'score': [1, 2, 3, 4]}

In [5]:
# creating a dictionary

dict_1={'one':1,'two':2,'three':3,'four':4,'five':5}
type(dict_1)

dict

In [6]:
dict_2={"name" : ['a','b','c','d','e','f'], "score" : [1,2,3,4,5,6]}

In [9]:
dict_2.keys()

dict_keys(['name', 'score'])

In [10]:
dict_2.values()

dict_values([['a', 'b', 'c', 'd', 'e', 'f'], [1, 2, 3, 4, 5, 6]])

In [11]:
# using 'pop' to remove a specified item from a dictionary

dict_1.pop('three')

3

In [12]:
dict_1

{'one': 1, 'two': 2, 'four': 4, 'five': 5}

In [13]:
# using 'popitem' to remove the last element on a list

dict_1.popitem()

('five', 5)

In [15]:
dict_2

{'name': ['a', 'b', 'c', 'd', 'e', 'f'], 'score': [1, 2, 3, 4, 5, 6]}

In [19]:
dict_2 = dict_1.copy()
dict_2

{'one': 1, 'two': 2, 'four': 4}

# Assignment

In [23]:
list_2=[1,2,3,4,5,6,7,8,9,10]

In [24]:
list_10=[10,9,8,7,6,5,4,3,2,1]

In [25]:
d1=zip(list_2,list_10)
# d1 = dict(d1)
# d1

In [26]:
print(dict(d1))

{1: 10, 2: 9, 3: 8, 4: 7, 5: 6, 6: 5, 7: 4, 8: 3, 9: 2, 10: 1}

In [28]:
dict_4={1:2,3:4,5:6,7:8}
dict_5={2:1,3:2,4:3,5:4}

In [29]:
dict_4.update((dict_5))

In [30]:
dict_4

{1: 2, 3: 2, 5: 4, 7: 8, 2: 1, 4: 3}

In [31]:
dict_5={'history' : 'my life story', 'Status' : 'Single', 'Hub' : 'EOA'}
dict_5

{'history': 'my life story', 'Status': 'Single', 'Hub': 'EOA'}

In [32]:
dict_5.values()

dict_values(['my life story', 'Single', 'EOA'])

In [33]:
print(dict_5['history'])

my life story

# Loops

In [35]:
# for loop

list_1 = [6,3,4,52,21,90]
for number in list_1:
    print(number*2)

12
6
8
104
42
180

In [36]:
# creating for loop

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [38]:
b=0
while b != 5:
    print('cool', b)
    b+=1

cool 0
cool 1
cool 2
cool 3
cool 4

In [39]:
b=40
while b>8:
    print(b)
    b-=5

40
35
30
25
20
15
10

In [40]:
l_1 = [1,'d',9,0,4,3,1]
for item in l_1:
    print(item)

1
d
9
0
4
3
1

In [42]:
a = int(input("enter a number: "))
if a == 4:
    print('correct')
else:
    print("wrong")

enter a number: 5
wrong

In [44]:
# using loop in dictionary

d2 = {"one":2,2:3,4:5,6:7,8:9}
for i in d2.values():
    print(i)

2
3
5
7
9

In [45]:
for i in d2.keys():
    print(i)

one
2
4
6
8

In [46]:
for i in range(4):
    print(i)

0
1
2
3

In [47]:
my_list=[1,2,3,4,5]
for item in my_list:
    print(item-2)

-1
0
1
2
3

In [48]:
for i in range(100,121):
    print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120

In [50]:
my_list

[1, 2, 3, 4, 5]

In [52]:
new_list=[]
for item in my_list:
    new_list.append(item+2)
print(new_list)

[3, 4, 5, 6, 7]

In [53]:
your_list=[]
for item in my_list:
    your_list.append(item**2)
print(your_list)

[1, 4, 9, 16, 25]

In [54]:
our_list=[]
for item in my_list[0:2]:
    our_list.append(item**2)
for item in my_list[2:]:
    our_list.append(item+item)
print(our_list)

[1, 4, 6, 8, 10]

In [55]:
d4={'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9,'ten':10}
print(type(d4))

<class 'dict'>

In [56]:
f9=[]
for item in d4.keys():
    f9.append(item)
print(f9)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [57]:
e8=[]
for item in d4.values():
    e8.append(item)
print(e8)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Conditional Statements

In [1]:
score = int(input("enter your score: "))
if (score>=10) and (score==5):
    print('good grade')
else:
    print("try again")

enter your score: 4
try again

In [2]:
age = int(input('Enter your age :'))
if (age >= 18) and (age<=24 or age>=31):
    print("congratulations you've been accepted")
else:
    print("sorry you are underage for this class")

Enter your age :17
sorry you are underage for this class

In [3]:
Samuel=int(input('Input your score: '))
Blessing=int(input('Input your score: '))
if Samuel>Blessing:
    print("Congrats Samuel you have gotten the scholarship")
else:
    print("Congrats Blessing you have gotten the scholarship")

Input your score: 10
Input your score: 13
Congrats Blessing you have gotten the scholarship

In [5]:
first_person = input('Enter your name: ')
first_score = int(input('Input your score: '))
second_person = input('\nyour name:' )
second_score= int(input('Input your score: '))

if first_score>second_score:
    print("Congrats {} you have gotten the scholarship".format(first_person))
elif first_score == second_score:
    print("everyone is to retake the test")
else:
    print(f"Congrats {second_person} you have gotten the scholarship")

Enter your name: Joyce
Input your score: 10

your name:Etim
Input your score: 7
Congrats Joyce you have gotten the scholarship

In [9]:
# using 'functions'

def test(first_name, second_name):
    first_score = int(input(f"{first_name}: Enter Your score :"))
    second_score = int(input(f"{second_name}: Enter your scorre :"))

    if first_score>second_score:
        return ("Congrats {} you have gotten the scholarship".format(first_name))
    elif first_score == second_score:
        return ("everyone is to retake the test")
    else:
        return (f"Congrats {second_name} you have gotten the scholarship")

In [10]:
test("Joyce", 'joe')

Joyce: Enter Your score :20
joe: Enter your scorre :15

'Congrats Joyce you have gotten the scholarship'

# Functions

In [11]:
def nam():
    return 'hello world!'
nam()

'hello world!'

In [12]:
def add(x):
    return 2+x
add(4)

6

In [13]:
import math as m
m.sqrt(4)

2.0