# break,
# continue
# pass
# while True

In [1]:
# break

my_list = [1,2,3,4,5,6,7,8]
for elements in my_list:
    print(elements)
    if elements ==4:
        break

1
2
3
4

In [2]:
a =3
a -=3
print(a)

0

In [3]:
a =3
a +=3
print(a)

6

In [4]:
i = 0
while True:
    print(my_list[i])
    if my_list[i] == 4:
        break
    i +=1

1
2
3
4

In [9]:
my_dict = {}
my_dict['Joyce'] = 4
my_dict['Joseph'] = 1
my_dict['Mary'] = 3
my_dict['Etim'] = 5
print(my_dict)

{'Joyce': 4, 'Joseph': 1, 'Mary': 3, 'Etim': 5}

In [10]:
my_dict.keys(), my_dict.values()

(dict_keys(['Joyce', 'Joseph', 'Mary', 'Etim']), dict_values([4, 1, 3, 5]))

In [11]:
# len() function

len(my_dict)

4

In [27]:
new_dict = {}
while True:
    name = input("enter your name: ")
    score = int(input("enter your score: "))
    new_dict[name] = score
    if len(new_dict) == 5:
        break

enter your name: Joyce
enter your score: 6
enter your name: Joseph
enter your score: 2
enter your name: Mary
enter your score: 5
enter your name: Etim
enter your score: 3
enter your name: Atim
enter your score: 100

In [28]:
new_dict

{'Joyce': 6, 'Joseph': 2, 'Mary': 5, 'Etim': 3, 'Atim': 100}

In [29]:
# Continue

for i in range(10):
    if i ==7:
        continue
    print(i)

0
1
2
3
4
5
6
8
9

In [30]:
if new_dict['Joyce'] == 32:
    print('hi')

In [31]:
if new_dict['Joyce'] == 32:
    print('hi')
else:
    print('hello')

hello

In [32]:
new_dict = {"Joyce":12}
if new_dict['Joyce'] > 1:
    print("hi")

hi

In [44]:
# A program for MOVIE TICKET
# if age <3, ticket is free
#if age is btw 3 & 12, ticket is $10
# if the age is above 12, ticket is $15

count = 0
while True:
    choice = input("Hello welcome to the programme\nEnter 'Yes' to continue: ")
    if choice == "no":
        break
    elif choice.lower() == 'yes':
        age = int(input("Enter Your Age: "))
    if age < 3:
        print("your ticket is free")
    elif (age >3) & (age <12):
        print("your ticket is $10")
    elif age >12:
        print("your ticket is $15")
    count +=1
    if count == 3:
        break

Hello welcome to the programme
Enter 'Yes' to continue: yes
Enter Your Age: 2
your ticket is free
Hello welcome to the programme
Enter 'Yes' to continue: yes
Enter Your Age: 10
your ticket is $10
Hello welcome to the programme
Enter 'Yes' to continue: yes
Enter Your Age: 15
your ticket is $15

In [45]:
x = 0
for i in range(10):
    print("iterations :",i)
    x +=1
    if x ==2:
        continue
    print("the new x: ", x)
    if x ==5:
        break

iterations : 0
the new x:  1
iterations : 1
iterations : 2
the new x:  3
iterations : 3
the new x:  4
iterations : 4
the new x:  5

In [46]:
print("the new x values is: ", x)

the new x values is:  5

In [79]:
piz = []
while True:
    pizaa = input('enter your choice: ')
    if pizaa == "quit":
        break
    else:
        piz.append(pizaa)
    print(piz)

enter your choice: pizaa
['pizaa']
enter your choice: burger
['pizaa', 'burger']
enter your choice: pie
['pizaa', 'burger', 'pie']
enter your choice: eggroll
['pizaa', 'burger', 'pie', 'eggroll']
enter your choice: puffpuff
['pizaa', 'burger', 'pie', 'eggroll', 'puffpuff']
enter your choice: meatpie
['pizaa', 'burger', 'pie', 'eggroll', 'puffpuff', 'meatpie']
enter your choice: quit

In [80]:
piz

['pizaa', 'burger', 'pie', 'eggroll', 'puffpuff', 'meatpie']

In [50]:
def add(x, y):
    """this programme takes inn two numbers
    and compute/return the sum
    """
    return x+y
add(2,3)

5

In [84]:
def name():
# print( '2')
    return 2
name()

2

In [52]:
# For fruits
fav_fruit = ['orange', 'pineapple', 'burberry', 'mango','pea']
fruit = input("what fruit do you like best: ")
# conditions
if fav_fruit[0] == fruit:
    print(f"you like {fruit}")
elif fav_fruit[1] == fruit:
    print(f"you like {fruit}")
elif fav_fruit[2] == fruit:
    print(f"you like {fruit}")
elif fav_fruit[3] == fruit:
    print(f"you like {fruit}")
elif fav_fruit[4] == fruit:
    print(f"you like {fruit}")
else:
    print("thanks for using our program")

what fruit do you like best: burberry
you like burberry

In [54]:
# For gadgets
fav_gadgets = ['phone', 'mifi', 'router', 'pc', '']
gadget = input("Enter the gadget you like best: ")
# conditions
if fav_gadgets[0] == gadget:
    print(f"you like {gadget}")
elif fav_gadgets[1] == gadget:
    print(f"you like {gadget}")
elif fav_gadgets[2] == gadget:
    print(f"you like {gadget}")
elif fav_gadgets[3] == gadget:
    print(f"you like {gadget}")
elif fav_gadgets[4] == gadget:
    print(f"you like {gadget}")
else:
    print("thanks for using our program")

Enter the gadget you like best: monitor
thanks for using our program

In [57]:
fav_fruits = ['strawberry', 'pineapple', 'burberry', 'mango','pea']
fruit = input("what fruit do you like best: ")
for i in fav_fruits:
    if i == fruit:
        print(f"you like {fruit}")

what fruit do you like best: pea
you like pea

In [58]:
country_dict = {
    'NN':[23,45,67],
    'UA':[12,23,1],
    'QW':[29,9,12],
    'TR':[23,54,13],
    'UE':[56,23,19]
}
country_dict

{'NN': [23, 45, 67],
 'UA': [12, 23, 1],
 'QW': [29, 9, 12],
 'TR': [23, 54, 13],
 'UE': [56, 23, 19]}

In [62]:
country_dict.values()

dict_values([[23, 45, 67], [12, 23, 1], [29, 9, 12], [23, 54, 13], [56, 23, 19]])

In [63]:
country_dict.keys()

dict_keys(['NN', 'UA', 'QW', 'TR', 'UE'])

In [64]:
import pandas as pd
country = pd.DataFrame(country_dict)

In [65]:
country.head()

   NN  UA  QW  TR  UE
0  23  12  29  23  56
1  45  23   9  54  23
2  67   1  12  13  19

In [60]:
record = {"Joyce": 23,
        "blessing": 27,
        "joe": 56}
val = int(input("enter your score: "))
if val == record['joe']:
    print("yes you got it correct.")
else:
    print("you got it wrong.")

enter your score: 40
you got it wrong.

In [61]:
record = {"Joyce": 23,
        "Blessing": 27,
        "John": 56}
name = input("enter your name: ")
score = int(input("enter your score: "))
if score == record[name]:
    print("the name is on our record.")

enter your name: Joyce
enter your score: 23
the name is on our record.

In [66]:
class Person:
    def __init__(self, name, age):
        """this is a sample programm to illustrate class"""
        self.name = name
        self.age = age
    def nme(self):
        print("Hello my name is " + self.name)

In [68]:
instance_OTC = Person("Joyce", 36)

In [69]:
instance_OTC.age

36

In [72]:
class class_name:
    def __init__(self, name, age, height):
        self.name = name
        self.age = age
        self.height = height

In [73]:
obj = class_name('Joyce', 12, 6)

In [74]:
obj.name

'Joyce'

In [75]:
name = 'Joyce'
print('welcome miss', name)

welcome miss Joyce

In [76]:
name = input("Enter your name: ")
print('welcome miss', name)

Enter your name: Joyce
welcome miss Joyce

In [77]:
print(f"welcome: {name}")

welcome: Joyce

In [81]:
name = 'Joyce'
score = 4
height = '6'
print('hello {},{}, {}'.format(name, score, height))

hello Joyce,4, 6

In [86]:
name2 = input('enter your name: ')
if name2 == 'yes':
    print(name()*4)

enter your name: Blessing

In [87]:
name2 = input('enter your name: ')
if name2 == 'yes':
    print(name()*4)

enter your name: yes
8