In [1]:
print("hello world!")

hello world!

In [3]:
number = 3
type(number)
name = 'Joyce'
print(name)

Joyce

In [5]:
number = 3
type(number)
name = 'Joyce'
print(number)

3

In [6]:
print(type(number))

<class 'int'>

In [7]:
print(type(name))

<class 'str'>

In [8]:
first_number = int(input("enter the value: "))
second_number = int(input("enter the second value: "))

enter the value: 3
enter the second value: 6

In [9]:
first_number, second_number

(3, 6)

In [10]:
first_number * second_number

18

In [11]:
result = first_number/second_number
print("the result is:", result)

the result is: 0.5

In [12]:
type(number)
num = int(input("enter the number : "))

enter the number : 5

In [13]:
# Using Backspace

print("W \bord")

W ord

In [14]:
x =2.0
type(x)

float

In [17]:
# Area of a cone( pi, radius, cube slant height)

pi=3.14
radius=int(input('the radius is: '))
slant_height=5.6
result=pi*radius*slant_height
print('the area of cone is:',result)

the radius is: 2
the area of cone is: 35.168

In [18]:
# Area of a rectangle

pi=3.14
radius=2**2
slant_height=int(input ('the height is'))
result=pi*radius*slant_height
print('the area of cone is:',result)

the height is2
the area of cone is: 25.12

# LIST

In [19]:
list_1 = [1,2,3,4,5,6,7,8]
list_1.insert(1,5)

In [20]:
print(list_1)

[1, 5, 2, 3, 4, 5, 6, 7, 8]

In [21]:
text = 'emmanuel'
l2 = list(text)
print(l2)
# converting string(i.e numbers )to integers
num_text = '12345'
num_list = [int(x)for x in list(num_text)]
print(num_list)

['e', 'm', 'm', 'a', 'n', 'u', 'e', 'l']
[1, 2, 3, 4, 5]

In [24]:
# creating a list
list_2 =['b','r','i','g','h','t']

In [25]:
a= 'bright'
list_3 =[a]
# printing out the values
print(list_2)

['b', 'r', 'i', 'g', 'h', 't']

# list operations

In [26]:
# creating a list

score = [1,3,5,7,1,7,8]
# checking for the minimum value in a list
min(score)

1

In [27]:
# checking for the maximum values

max(score)

8

In [29]:
#creating another list

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [30]:
# using append funtion to add element to the end of the list

my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [31]:
# To remove
my_list.remove(2)

In [32]:
my_list

[1, 3, 4, 5, 6]

In [33]:
# Arranging a list in ascending order

list_2 = [1,4,2,5,7,4,0,9,8,3]
list_2.sort()

In [34]:
print(list_2)

[0, 1, 2, 3, 4, 4, 5, 7, 8, 9]

In [35]:
min_score = min(list_2)
print(min_score)

0

In [36]:
max_score = max(list_2)
print(max_score)

9

In [37]:
# list indexing/slicing operations

# 1st element
list_2[0]

0

In [38]:
# second element
list_2[1]

1

In [39]:
# last element
list_2[-1]

9

In [41]:
list_2

[0, 1, 2, 3, 4, 4, 5, 7, 8, 9]

In [40]:
list_2[2:5]

[2, 3, 4]

In [49]:
# using 'insert' to add 2 and 6

list_2.insert(1,12)
print(list_2)

[0, 12, 12, 1, 2, 3, 4, 4, 7, 8, 12, 9]

In [53]:
list_2

[0, 12, 12, 2, 3, 4, 4, 7, 8, 12, 9]

In [54]:
# using 'pop' to remove an item from a specific index

list_2.pop(4)

3

In [55]:
# using 'clear' to remove all items on a list

list_2.clear()

In [56]:
list_2

[]

In [57]:
#creating a new list

list_3=[1,2,3,4,5,6,7,8,9]
list_4 = ['3','4']

In [58]:
# using 'extend' to join two lists together
list_3.extend(list_4)

In [59]:
# printing the outcome

print('list after extend():',list_3)

list after extend(): [1, 2, 3, 4, 5, 6, 7, 8, 9, '3', '4']

#  TUPLE

In [61]:
# creating a tuple

tuple_1=('Joyce','lionel','blessing')
print(tuple_1)
print(type(tuple_1))

('Joyce', 'lionel', 'blessing')
<class 'tuple'>

In [62]:
# converting a tuple to a list

list_8=list(tuple_1)
print(list_8)
print(type(list_8))

['Joyce', 'lionel', 'blessing']
<class 'list'>

In [63]:
# converting a list to a tuple

tuple_1=tuple(list_8)
print(tuple_1)

('Joyce', 'lionel', 'blessing')

# SET

In [64]:
fruits_1={'orange','mango','watermelon',"salt",'pear','avocado'}
fruits_2={'strawberry','blueberry','pear','mango','raspberries', "salt"}
fruits_2.discard("pear")
print(fruits_2)

{'raspberries', 'blueberry', 'mango', 'strawberry', 'salt'}

In [65]:
# Using the update set operation
# fruits_2=list(fruits_2)
# print(fruits_2)

fruits_1.update(("fruits_2", "grains",))
print(fruits_1)

{'pear', 'avocado', 'grains', 'watermelon', 'fruits_2', 'orange', 'mango', 'salt'}

In [66]:
# Using the 'remove' set operation

fruits_1.remove("orange")

In [67]:
fruits_1

{'avocado', 'fruits_2', 'grains', 'mango', 'pear', 'salt', 'watermelon'}

In [68]:
# using the 'union' set operation

fruits_1.union(fruits_2)

{'avocado',
 'blueberry',
 'fruits_2',
 'grains',
 'mango',
 'pear',
 'raspberries',
 'salt',
 'strawberry',
 'watermelon'}

In [69]:
# using the 'intersection' set operations

fruits_1.intersection(fruits_2)

{'mango', 'salt'}

In [70]:
# Using the 'difference' set operation
 
fruits_1.difference(fruits_2)

{'avocado', 'fruits_2', 'grains', 'pear', 'watermelon'}

In [71]:
# USING THE 'SYMMETRIC DIFFERENCE'

fruits_1 ^ fruits_2

{'avocado',
 'blueberry',
 'fruits_2',
 'grains',
 'pear',
 'raspberries',
 'strawberry',
 'watermelon'}

In [73]:
a={2,3}
b={9,8,7,0,2,3,4}

In [74]:
a.issubset(b)

True

In [75]:
b.issuperset(a)

True

In [76]:
a.isdisjoint(b)

False